################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/KYC_Portal_Admin
/KYC_Portal_Admin/bin
/KYC_Portal_Admin/obj/Debug
